<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EuroBakerieAPp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EuroBakerieAPp.Properties.Settings.EuroBakereiConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\EuroBakerei.accdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <EuroBakerieAPp.Properties.Settings>
            <setting name="DB_Source" serializeAs="String">
                <value/>
            </setting>
            <setting name="Database_Selected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsStaff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
        </EuroBakerieAPp.Properties.Settings>
    </userSettings>
</configuration>
